h1 {
	text-align: center;
	font-size: 40px;
}

body {
	color: white;
	background-color: #222222;
	font-family: Calibri;
}

#servers {
	margin-bottom: 10px
}

#content textarea {
	width: 50%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	min-height: 40px;
	font-size: 25px;
}

.user {
	margin-bottom: 20px;
}

#options {
	margin: auto;
	color: #00FF00;
	text-align: center;
	background-color: #000000;
	cursor: pointer;
	width: 150px;
	border-radius: 0px 0px 25px 25px;
}

#optionsContent {
	display: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}