h1 {
	text-align: center;
	font-size: 40px;
}

body {
	color: white;
	background: radial-gradient(#648880, #293f50);
	font-family: Calibri;
}

footer {
	position: absolute;
	bottom: 0;
}

button {
	border: none;
	background-color: aqua;
	border-radius: 10px;
	color: blue;
	cursor: pointer;
}

.disconnected {
	height: 10px;
	width: 10px;
	background-color: #FF0000;
	border-radius: 50%;
	display: inline-block;
}

.connected {
	height: 10px;
	width: 10px;
	background-color: #00FF00;
	border-radius: 50%;
	display: inline-block;
}

#content {
	margin-left: 20px;
}

#name {
	width: 55%;
	text-align: center;
}

#servers {
	margin-bottom: 10px
}

#content textarea {
	width: 50%;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	min-height: 40px;
	overflow: hidden;
	resize: none;
}

.user {
	margin-bottom: 20px;
}

#options {
	margin: auto;
	color: #00FF00;
	text-align: center;
	background-color: #000000;
	cursor: pointer;
	width: 150px;
	border-radius: 0px 0px 25px 25px;
}

#optionsContent {
	display: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}