<h1>Create Server</h1>
<label>Server Title: </label><input id="serverTitle" type="text"></input></br>
<label>Password(optional): </label><input id="serverPassword" type="text"></input></br>
<button id="create">Create</button>
<button id="return">Server List</button>

<script>
	$('#create').click(function() {
		let title = $('#serverTitle').val();
		let password = $('#serverPassword').val();
		if(title.length == 0)
			alert("Server title can't be empty!");
		else {
			socket.emit('createServer', {title, password});
			loadView('main.html');
		}
	});
	$('#return').click(function() {
		loadView('main.html');
	});
</script>