<h1>Socket Chat</h1>
<span>Here are the available servers:</span></br>
<div id="servers">
	<table id="serverTable"></table>
</div>
<button id="createServer">Create Server</button>
<button id="refresh">Refresh</button>

<script>
	var id;
	socket.off('serverList');
	socket.off('userID');
	$('#createServer').click(function() {
		loadView('createServer.html');
	});
	$('#refresh').click(function() {
		socket.emit('getServers', '');
	});
	socket.emit('getServers', '');
	socket.on('serverList', function(data) {
		let content = $('#serverTable').empty();
		content.append('<th>Name</th><th>Password?</th><th>Number of users</th>');
		if(!data.length) {
			content.after('No servers available at this time.');
		}
		for(var x=0;x<data.length;x++) {
			let tr = $('<tr></tr>');
			let button = $(`<button id=${data[x].id}>Join</button>`);
			button.click(function() {
				socket.emit('joinServer', $(this).attr('id'));
			});
			tr.append('<td>' + data[x].title + '</td>');
			tr.append('<td>' + ((data[x].password) ? 'yes' : 'no') + '</td>');
			tr.append('<td>' + data[x].numberOfUsers+ '</td>');
			tr.append(button.wrap('<td></td>').parents());

			content.append(tr);
		}
	});
	socket.on('userID', function(userID) {
		id = userID;
		loadView('server.html');
	});
</script>