<h1>Socket Chat</h1>
<div id="content">
</div>

<script>
	socket.off('users');
	socket.emit('getUsers', '');
	socket.on('users', function(data) {
		let content = $('#content');
		for(var x=0;x<data.length;x++) {
			let input = $(`<textarea id=${data[x]}</textarea>`);
			content.append(input);
			if(data[x] == id) {
				input.keyup(function() {
					socket.emit('updateText', [id, $(this).val()]);
				});
				content.append('<div id="optionsContent"><label>Command: </label><input type="text"></input></div>');
				content.append('<div id="options">OPTIONS</div>');
			}
			else
				input.prop('disabled', true);
		}
	});
	socket.on('receiveUser', function(id) {
		$('#content').append(`<textarea id=${id} disabled></textarea>`);
	});
	socket.on('userLeft', function(id) {
		$('#'+id).remove();
	});
	socket.on('updateText', function(userObject) {
		$('#' + userObject[0]).val(userObject[1]);
	});
	
	$('#content').on('click', '#options', function() {
		$('#optionsContent').slideToggle();
	});
</script>